@use "reset";
@use "variables" as var;
@use "mixins" as m;

$theme-colors: (
  "primary": var.$primary,
  "secondary": var.$secondary,
  "light-gray": var.$light-gray,
);

@import "bootstrap/scss/bootstrap";

.limited-width {
  @include m.limited-width;
}
.img-box {
  @include m.img-box();
}

.img-box-features {
  @include m.img-box(6%);
}

.img-box-features img {
  width: 80%;
  height: auto;
}

.decor-box {
  @include m.decor-box(100px 0 0 100px, left);
}

.decor-features-box {
  @include m.decor-box(0 100px 100px 0, right);
}

// btns
.btn-custom-prim:hover {
  @include m.btn-hover(white, var.$primary, var.$primary);
}

.btn-custom-black:hover {
  @include m.btn-hover(white, rgb(37, 37, 37), rgb(37, 37, 37));
}
// nav-tabs
.nav-link.custom-style {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--bs-gray-600);
}
.tab-pane:hover {
  border: none !important;
}

.nav-tabs .nav-link.active {
  @include m.active-tab(var.$secondary);
}

// card section
.extensions-grid {
  display: grid;
  gap: 24px;
  justify-content: center;
  min-height: 400px;
  max-width: 800px;
  margin: 0 auto;
}
.card-item {
  max-width: 300px;
}

@media (min-width: 768px) {
  .extensions-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .card-item {
    display: flex;
    align-items: flex-start;
  }

  .firefox {
    align-self: center;
  }

  .opera {
    align-self: end;
  }
}

// accordeon
.accordion-container {
  max-width: 640px;
  margin: 0 auto;
}
.accordion-button::after {
  display: none;
}
.accordion-icon {
  margin-left: auto;
  transition: transform 0.3s ease;
}
.accordion-button:not(.collapsed) .accordion-icon {
  transform: rotate(180deg);
  fill: red; /* або будь-який інший колір */
}

// navbar
.nav-link {
  text-align: center;
}
.nav-link:hover {
  cursor: pointer;
  color: var.$secondary;
}

.navbar-nav {
  margin-left: auto;
}
.header-active {
  background-color: var.$secondary;
  color: white;
  border-radius: 8px;
  padding: 0.5rem 1rem;
}
.header-active:hover {
  outline: 2px solid var.$secondary;
  background-color: white;
  color: var.$secondary;
}
.active:hover {
  border: 2px solid var.$secondary;
  background-color: white;
}
